{% extends "minimal.html" %}
{% load bootstrap4 %}
{% load model_helpers %}
{% block title %}
    PRF Display &mdash;
    Human Resources &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
  $(function() {
  });
</script>
{% endblock %}
{% block extra_style %}
<style>
  .hyde {display:none;}
  label { margin-bottom: .20em; }
  label h5 {font-weight:545;font-size: 1.2rem;margin-bottom:0;}
</style>
{% endblock %}
{% block content %}
<div class="container mb-4">
  <div class="col-md-12 card bg-dark">
    <div class="card-title">
      <h3 class="text-center text-white">Position Requisition Form</h3>
    </div>
    <div class="card-body bg-light">
        <div class="form-row mt-4">
          <div class="col-sm-6 pb-2 pr-5">
            <h5>{% field_name data 'position_title' %}</h5>
            <p>{{data.position_title}}</p>
          </div>
          <div class="col-sm-6 pb-2">
            <h5>{% field_name data 'department_name' %}</h5>
            <p>{{data.department_name}}</p>
          </div>
          <div class="col-md-6 pb-1 pr-5">
            <div class="form-group">
              <h5>{% field_name data 'new_position' %}</h5>
              <p>{{data.new_position}}</p>
              <!-- Hidden unless "No" is selected -->
              <div class="form-check {% if data.new_position == 'Yes' %}hyde{% endif %}" id="replacement">
                  <h5>{% field_name data 'replacement_name' %}</h5>
                  <p>{{data.replacement_name}}</p>
              </div>
            </div>
            <!-- /.form-group -->
          </div>
          <div class="col-md-3 pb-1">
            <div class="form-group">
              <h5>{% field_name data 'budgeted_position' %}</h5>
              <p>{{data.budgeted_position}}</p>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <h5>{% field_name data 'salary_type' %}</h5>
                <p>{{data.salary_type}}</p>
            </div>
            <!-- /.form-group -->
          </div>
          <div class="col-md-3 pb-1">
            <div class="form-group">
              <!-- Hidden unless "Yes" is selected -->
              <div class="form-check {% if data.budgeted_position == 'No' %} hyde{% endif %}" id="account_number">
                  <h5>{% field_name data 'account_number' %}</h5>
                  <p>{{data.account_number}}</p>
              </div>
            </div>
            <!-- /.form-group -->
          </div>
          <!-- Hidden unless "Salary" is selected -->
          <div class="{% if data.budgeted_position == 'Non-exempt' %} hyde{% endif %} pb-4" id="hours_per_week">
            <div class="col-sm-12">
                <h5>{% field_name data 'hours_per_week' %}</h5>
              <p>
                <strong>Please note:</strong>
                If an employee is regularly scheduled
                for 40 hours or more per week they would
                be considered full-time and benefits eligible.
                If an employee is regularly scheduled for
                30 hours or more per week they would be considered
                part-time and benefits eligible. If an
                employee is regularly scheduled for less than 30
                hours per week they would be considered part-time
                and not benefits eligible.
              </p>
              <p>{{data.hours_per_week}}</p>
            </div>
          </div>
          <div class="col-sm-12 pb-1">
            <h5>Job Salary Range (consult Human Resources)</h5>
          </div>
          <div class="col-sm-4 pb-3">
            <h5>{% field_name data 'min_salary_range' %}</h5>
            <p>{{data.min_salary_range}}</p>
          </div>
          <div class="col-sm-4 pb-3">
            <h5>{% field_name data 'mid_salary_range' %}</h5>
            <p>{{data.mid_salary_range}}</p>
          </div>
          <div class="col-sm-4 pb-3">
            <h5>{% field_name data 'max_salary_range' %}</h5>
            <p>{{data.max_salary_range}}</p>
          </div>
          <div class="col-sm-4 pb-3">
            <h5>{% field_name data 'position_open_date' %}</h5>
            <p>{{data.position_open_date}}</p>
          </div>
          <div class="col-sm-4 pb-3">
            <h5>{% field_name data 'expected_start_date' %}</h5>
            <p>{{data.expected_start_date}}</p>
          </div>
          <div class="col-sm-4 pb-3">
            <h5>{% field_name data 'publication_date' %}</h5>
            <p>{{data.publication_date}}</p>
          </div>
          <div class="col-sm-12 pb-2">
            <h5>{% field_name data 'applicant_system' %}</h5>
            <div class="form-check form-check-inline">
              <p>{{data.applicant_system}}</p>
            </div>
            <!-- Hidden unless "Yes" is selected -->
            <div class="form-check {% if data.applicant_system == 'No' %}hyde{% endif %}" id="applicant_system_people">
              <p>{{data.applicant_system_people}}</p>
            </div>
          </div>
          <div class="col-sm-12 pb-2">
            <h5>{% field_name data 'speciality_sites' %}</h5>
            <div class="form-check form-check-inline">
              <p>{{data.speciality_sites}}</p>
            </div>
            <!-- Hidden unless "Yes" is selected -->
            <div class="form-check {% if data.speciality_sites == 'No' %}hyde{% endif %}" id="speciality_sites_urls">
              <p>{{data.speciality_sites_urls}}</p>
            </div>
          </div>
        </div>
        <!-- end form row -->
      </form>
      <!-- end form -->
    </div>
    <!-- end card body -->
    <div class="card-footer text-muted">
      Carthage College
    </div>
  </div>
  <!-- end card -->
</div>
<!-- end container -->
{% endblock %}
