<p>
    The first step of your personnel action request has been approved.
</p>
{% if data.notify_provost %}
<p>
    It has now been sent on to the next step for approval by the
    the Provost.
</p>
{% else %}
<p>
{% if data.notify_level2 %}
    It has now been sent on to the next step for approval by the
    Vice President of Finance and Administration.
{% else %}
    It has now been sent to the Human Resources department
    for final approval.
{% endif %}
</p>
{% endif %}
{# debuging #}
{% if data.to_creator %}
{{data.to_creator}}
{% endif %}
