<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover display">
    <thead>
      <tr>
        <th>
          Position Title
          <i class="fa fa-eye green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Personnel Requisition"></i> /
          <i class="fa fa-print green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="Print Personnel Requisition"></i>
        </th>
        <th>Department</th>
        <th>
          Submitted by
          <i class="fa fa-envelope-o green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="Send email to hiring manager"></i>
        </th>
        <th style="text-align:center;">
          <i class="fa fa-thumbs-up green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="VP or Dean approval"></i>
        </th>
        <th style="text-align:center;">
          <i class="fa fa-thumbs-up green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="CFO approval"></i>
        </th>
        <th style="text-align:center;">
          <i class="fa fa-thumbs-up green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="HR approval"></i>
        </th>
        <th>Pub Date</th>
        <th>Open Date</th>
        <th>Start Date</th>
      </tr>
    </thead>
    <tbody>
      {% for r in requisitions %}
      <tr>
        <td>
          <a href="{% url 'requisition_display' r.id %}" data-toggle="tooltip"
          data-placement="top" class="blue-tooltip"
          title="View Personnel Requisition">{{r.position_title}}</a>
          [
            {% if r.new_position == "Yes" %}
            <i class="fa fa-user-plus green blue-tooltip" data-toggle="tooltip"
              data-placement="top" aria-hidden="true"
              title="This is a new position"></i>
            {% else %}
            <i class="fa fa-user green blue-tooltip" data-toggle="tooltip"
              data-placement="top" aria-hidden="true"
              title="This position replaces '{{r.replacement_name}}'"></i>
            {% endif %}
          ]
        </td>
        <td>
          {{r.department_name}}
          {% if r.budgeted_position == "Yes" %}
            [
            <i class="fa fa-usd green blue-tooltip" data-toggle="tooltip"
              data-placement="top" aria-hidden="true"
              title="This position is budgeted for account #{{r.account_number}}"></i>
            ]
          {% endif %}
        </td>
        <td><a href="mailto:{{r.created_by.email}}">{{r.created_by}}</a></td>
        <td>
          {% if r.level3 %}
            <i class="fa fa-2x fa-check green blue-tooltip"
            data-toggle="tooltip" data-placement="top" aria-hidden="true"
            title="Division Dean or VP has approved this PRF"></i>
          {% else %}
            <i class="fa fa-2x fa-times red blue-tooltip"
            data-toggle="tooltip" data-placement="top" aria-hidden="true"
            title="Division Dean or VP has NOT approved this PRF"></i>
          {% endif %}
        </td>
        <td>
          {% if r.level2 %}
            <i class="fa fa-2x fa-check green blue-tooltip"
            data-toggle="tooltip" data-placement="top" aria-hidden="true"
            title="CFO has approved this PRF"></i>
          {% else %}
            <i class="fa fa-2x fa-times red blue-tooltip"
            data-toggle="tooltip" data-placement="top" aria-hidden="true"
            title="CFO has NOT approved this PRF"></i>
          {% endif %}
        </td>
        <td>
          {% if r.level1 %}
            <i class="fa fa-2x fa-check green blue-tooltip"
            data-toggle="tooltip" data-placement="top" aria-hidden="true"
            title="HR have approved this PRF"></i>
          {% else %}
            <i class="fa fa-2x fa-times red blue-tooltip"
            data-toggle="tooltip" data-placement="top" aria-hidden="true"
            title="HR have NOT approved this PRF"></i>
          {% endif %}
        </td>
        <td>{{r.publication_date}}</td>
        <td>{{r.position_open_date}}</td>
        <td>{{r.expected_start_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>
          Position Title
          <i class="fa fa-eye green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Personnel Requisition"></i> /
          <i class="fa fa-print green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="Print Personnel Requisition"></i>
        </th>
        <th>Department</th>
        <th>
          Submitted by
          <i class="fa fa-envelope-o green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="Send email to hiring manager"></i>
        </th>
        <th style="text-align:center;">
          <i class="fa fa-thumbs-up green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="VP or Dean approval"></i>
        </th>
        <th style="text-align:center;">
          <i class="fa fa-thumbs-up green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="CFO approval"></i>
        </th>
        <th style="text-align:center;">
          <i class="fa fa-thumbs-up green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="HR approval"></i>
        </th>
        <th>Pub Date</th>
        <th>Open Date</th>
        <th>Start Date</th>
      </tr>
    </tfoot>
  </table>
</div>
