cryptography>=36.0.1
bootstrap_admin>=0.4.4
django==3.2.16
django-bootstrap4>=21.1
django-admin-honeypot>=1.1.0
django-bootstrap5>=21.3
django-loginas>=0.3.10
mysqlclient>=2.1.0
openpyxl>=3.0.9
pyodbc>=4.0.32
python-ldap>=3.4.0
requests>=2.27.1
