{% extends "home.html" %}
{% block content %}
<div class="row">
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
      <div class=" alert {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
    <h4>
      Budget Change Submissions |
      <a href="{% url 'budget_form' %}" data-toggle="tooltip" data-placement="right" title="Submit Budget Modification Form">
        <i class="fa fa-fw fa fa-money" aria-hidden="true"></i>
      </a>
    </h4>
    {% include "finance/budget/data.inc.html" %}
  </div>
</div>
<!-- /.row -->
{% endblock content %}
