{% extends "home.html" %}
{% load bootstrap4 %}
{% block title %}
  Budget Form &mdash; Carthage College
{% endblock %}
{% block extra_style %}
{{block.super}}
<style>
  label { margin-bottom: .25em; }
  label h5 {font-weight:545;font-size: 1.2rem;margin-bottom:0;}
  .form-check-label {font-size: .9em;}
</style>
{% endblock %}
{% block content %}
<div class="container mb-4">
  <div class="col-md-12 card bg-dark">
    <div class="card-title">
      <h3 class="text-center text-white">Budget Form</h3>
    </div>
    <div class="card-header bg-secondary text-white">
      <strong>Instructions:</strong>
      All fields are required except budget file.
    </div>
    <div class="card-body bg-light">
      <form action="." method="post" class="form" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" name="indi-submit">
      </form>
      <!-- end form -->
    </div>
    <!-- end card body -->
    <div class="card-footer text-muted">
      Carthage College
    </div>
  </div>
  <!-- end card -->
</div>
<!-- end container -->
{% endblock %}
