{% extends "home.html" %}
{% load bootstrap4 %}
{% block title %}
  Budget Form &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
{{block.super}}
<script type="text/javascript">
  // global for hide containers
  var $hyde = '#id_userful_life, #id_variation_change, #id_variation_to, #id_variation_from';
  // hide all the things
  $($hyde).parent().hide();
  {% if form.change_type.value == 'Capital' %}
    $('#id_userful_life').parent().show();
  {% endif %}
  $('#id_change_type').on('change', function() {
    $flip = $('#id_userful_life').parent();
    toggle(this.value, 'Capital', $flip, rent=true);
  });
  $('#id_variation').on('change', function() {
    $dis = $(this);
      console.log($dis.val());
    if ($dis.val() == 'Increase to budget' || $dis.val() == 'Decrease to budget') {
      $('#id_variation_change').parent().show();
      $('#id_variation_to').parent().hide();
      $('#id_variation_from').parent().hide();
    } else {
      $('#id_variation_change').parent().hide();
      $('#id_variation_to').parent().show();
      $('#id_variation_from').parent().show();
    }
  });
</script>
{% endblock %}
{% block content %}
<div class="container mb-4">
  <div class="col-md-12 card bg-dark">
    <div class="card-title">
      <h3 class="text-center text-white">Budget Form</h3>
    </div>
    <div class="card-header bg-secondary text-white">
      <strong>Instructions:</strong>
      All fields are required except budget file.
    </div>
    <div class="card-body bg-light">
      <div class="col-8">
      <form action="." method="post" class="form" enctype="multipart/form-data" role="form" id="budget-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" name="indi-submit">
      </form>
      <!-- end form -->
      </div>
    </div>
    <!-- end card body -->
    <div class="card-footer text-muted">
      Carthage College
    </div>
  </div>
  <!-- end card -->
</div>
<!-- end container -->
{% endblock %}
