{% extends "home.html" %}
{% load bootstrap4 %}
{% block title %}
    Approver Form &mdash; Human Resources &mdash; Carthage College
{% endblock %}
{% block extra_style %}
{{block.super}}
<link href="/static/djsani/css/dashboard.css" rel="stylesheet" type="text/css">
<link href="/static/djsani/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" language="javascript" src="https://malsup.github.io/min/jquery.blockUI.min.js"></script>
<script>
$(function() {
  $("body").toggleClass("sidenav-toggled");
  $('.remove-approver').on('click', function(e){
    e.preventDefault();
    var $dis = $(this);
    var $id = $dis.attr("data-cid");
    var $em = $dis.attr("data-email");
    var $ln = $dis.attr("data-last_name");
    var $fn = $dis.attr("data-first_name");
    var $html = $dis.html();
    console.log('id = ' + $id);
    $dis.html('<i class="fa fa-refresh fa-spin"></i>');
    $.ajax({
      type: "POST",
      url: "{% url 'approver_manager' %}",
      data: {"cid":$id,"email":$em,"last_name":$ln,"first_name":$fn},
      success: function(data) {
        $dis.parent().remove();
        $.growlUI("Approver", "Removed");
      }
    });
    return false;
  });
});
</script>
{% endblock %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
    <div class="col-lg-6 mb-3">
      <div class="alert alert-dismissable alert-link {{message.tags}}">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            Level 3 Approver Form
          </h2>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <form method="post" action=".">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-primary btn-lg" type="submit" value="Submit">
          </form>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      {% if objects %}
      <div class="panel panel-default mt-3">
        <div class="panel-heading">
          <h2>Level 3 Approvers</h2>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body" id="transaction-data-panel">
          <ol>
          {% for obj in objects %}
            <li>
              {{obj.last_name}}, {{obj.first_name}}
              <a href="" class="remove-approver" data-cid="{{obj.id}}" data-email="{{obj.email}}"
                data-last_name="{{obj.last_name}}" data-first_name="{{obj.first_name}}">
                <i class="red fa fa-times" aria-hidden="true"
                  title="Remove user from the Approver group"></i></a>
            </li>
          {% endfor %}
          </ol>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      {% endif %}
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
{% endblock content %}
{% block footer %}{% endblock %}
