{% extends "djbootmin/base.html" %}
{% block extra_style %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://www.carthage.edu/themes/shared/css/tables.css" rel="stylesheet" type="text/css">
<link href="/static/djpersonnel/css/dashboard.css" rel="stylesheet" type="text/css">
<link href="/static/djpersonnel/css/main.css" rel="stylesheet" type="text/css">
<style>
.table thead {
    background-color: #efefef;
    color: #000;
    font-size: 1em;
}
.table > tbody > tr > th,
.table > tbody > tr > td {
    padding: 2px 4px 0 4px;
}
.card-header { margin-bottom: 12px; }
.card-title { margin: 4px 0 2px 0;; }
h6 {font-weight:600;}
</style>
{% endblock %}
{% block extra_javascript %}
<script>
$(function() {
  $("body").toggleClass("sidenav-toggled");
});
</script>
{% endblock %}
{% block body_tag %}{% endblock %}
{% block navbar-header %}
<a href="{% url 'dashboard_home' %}" class="mr-sm-3 mr-lg-3">
  <i class="fa fa-home fa-2x"></i></a>
<a class="navbar-brand" href="{{root_url}}">Human Resources</a>
{% endblock %}

{% block navbar-top-links %}
  <ul class="navbar-nav ml-auto">
    <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> {{user.first_name|default:"Dashboard"}}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="divider"></li>
            <li>
                {% if user.is_anonymous %}
                <a href="{% url 'auth_login' %}">
                    <i class="fa fa-sign-in"></i> Sign In
                </a>
                {% else %}
                <a href="{% url 'auth_logout' %}">
                    <i class="fa fa-sign-out"></i> Sign Out
                </a>
                {% endif %}
            </li>
        </ul>
    </li>
  </ul>
{% endblock navbar-top-links %}
{% block navbar-sidenav %}{% endblock %}
{% block content-wrapper %} id="wrapper" class="content-wrapper"{% endblock %}
{% block content %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block footer %}{% endblock %}
{% block logout %}{% endblock %}
