{% extends "base.html" %}
{% block title %}
    Personnel Transaction Form Submissions &mdash;
    Human Resources &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
<script>
$(function() {
  $("body").toggleClass("sidenav-toggled");
});
</script>
{% endblock %}
{% block body_tag %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block navbar-header %}
<a href="{% url 'dashboard_home' %}" class="mr-sm-3 mr-lg-3">
  <i class="fa fa-home fa-2x"></i></a>
<a class="navbar-brand" href="{{root_url}}">Human Resources</a>
{% endblock %}
{% block navbar-top-links %}
  <ul class="navbar-nav ml-auto">
    <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> {{user.first_name|default:"Dashboard"}}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="divider"></li>
            <li>
                {% if user.is_anonymous %}
                <a href="{% url 'auth_login' %}">
                    <i class="fa fa-sign-in"></i> Sign In
                </a>
                {% else %}
                <a href="{% url 'auth_logout' %}">
                    <i class="fa fa-sign-out"></i> Sign Out
                </a>
                {% endif %}
            </li>
        </ul>
    </li>
  </ul>
{% endblock navbar-top-links %}
{% block navbar-sidenav %}
<ul class="navbar-nav navbar-sidenav">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="{% url 'dashboard_home' %}">
      <i class="fa fa-fw fa fa-dashboard" aria-hidden="true"></i>
      <span class="nav-link-text">Dashboard</span>
    </a>
  </li>
  {% if user.is_superuser %}
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administration">
    <a class="nav-link" href="{% url 'admin:index' %}">
      <i class="fa fa-fw fa fa-cog" aria-hidden="true"></i>
      <span class="nav-link-text">Administration</span>
    </a>
  </li>
  {% endif %}
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Personnel Requisiton Form (PRF)">
    <a class="nav-link" href="{% url 'requisition_form' %}">
      <i class="fa fa-fw fa fa-user-plus" aria-hidden="true"></i>
      <span class="nav-link-text">PRF</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Personnel Action Form (PAF)">
    <a class="nav-link" href="{% url 'transaction_form' %}">
      <i class="fa fa-fw fa fa-clipboard" aria-hidden="true"></i>
      <span class="nav-link-text">PAF</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Carthage Home">
    <a class="nav-link" href="https://www.carthage.edu/">
      <i class="fa fa-fw fa fa-home" aria-hidden="true"></i>
      <span class="nav-link-text">Carthage Home</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My.Carthage">
    <a class="nav-link" href="https://my.carthage.edu/">
      <i class="fa fa-fw fa fa-lemon-o" aria-hidden="true"></i>
      <span class="nav-link-text">My.Carthage</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tooltip" data-placement="right" title="Expand Menu" id="sidenavToggler">
      <i class="fa fa-fw fa-angle-double-left" aria-hidden="true"></i>
    </a>
  </li>
</ul>
<ul class="navbar-nav sidenav-toggler">
  <li class="nav-item">
    <a class="nav-link text-center">
      <i class="fa fa-fw"></i>
    </a>
  </li>
</ul>
{% endblock navbar-sidenav %}
{% block content %}
<div class="row">
  {% if requisitions %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
      <h3>Personnel Requisition Form (PRF)</h3>
      {% include "dashboard/requisition_data.inc.html" %}
    </div>
  {% endif %}
  {% if transactions %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
      <h3>Personnel Action Form (PAF)</h3>
      {% include "dashboard/transaction_data.inc.html" %}
    </div>
  {% endif %}
</div>
<!-- /.row -->
{% endblock content %}
{% block footer %}{% endblock %}
