{% extends "home.html" %}
{% block content %}
<div class="row">
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
      <div class=" alert {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
    <form action="{% url 'paf_print' %}" method="post" class="form" role="form">
    {% csrf_token %}
    <h4 class="float-left">
      Personnel
      {% if mod == 'transaction' %}
        Action
      {% else %}
        {{mod|title}}
      {% endif %}
      Form Submissions
    </h4>
    {% if mod == 'transaction' %}
      <button class="btn btn-primary col-2 float-right" id="paf_print" type="submit">Print selected PAF</button>
      {% with transactions=objects %}
        {% if transactions %}
          {% include "transaction_data.inc.html" %}
        {% else %}
          <h5>No submissions</h5>
        {% endif %}
      {% endwith %}
    {% endif %}
    {% if mod == 'requisition' %}
      {% with requisitions=objects %}
        {% if requisitions %}
          {% include "requisition_data.inc.html" %}
        {% else %}
          <h5>No submissions</h5>
        {% endif %}
      {% endwith %}
    {% endif %}
    </form>
  </div>
</div>
<!-- /.row -->
{% endblock content %}
