<p>
    Your personnel requistion request has been approved
    by your area VP/Dean or level 3 approver.
</p>
<p>
{% if data.notify_level2 %}
    It has now been sent on to the next step for approval by the
    Vice President of Finance and Administration.
{% else %}
    It has now been sent to the Human Resources department
    for final approval.
{% endif %}
</p>
{% if data.notify_provost %}
<p>
    The Provost will be notified as well but will not need to
    approve this request.
</p>
{% endif %}
{# debuging #}
{% if data.to_creator %}
{{data.to_creator}}
{% endif %}
