{% extends "home.html" %}
{% block title %}
  Transaction Data Detail &mdash; Human Resources &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
{{block.super}}
<script src="//www.carthage.edu/static/vendor/js/spin.min.js"
    type="text/javascript"></script>
<script src="https://malsup.github.io/min/jquery.blockUI.min.js"
    type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  /* spinner */
  var opts = {
      lines: 13, // The number of lines to draw
      length: 20, // The length of each line
      width: 10, // The line thickness
      radius: 30, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      direction: 1, // 1: clockwise, -1: counterclockwise
      color: '#000', // #rgb or #rrggbb or array of colors
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'search-results', // The CSS class to assign to spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: '50px', // Top position relative to parent in px
      left: 'auto' // Left position relative to parent in px
  };
  var target = document.getElementById("wrapper");
  var spinner = new Spinner(opts).spin(target);
  spinner.stop(target);

  $(".operation-status").click(function () {
    $.ajax({
      type: "POST",
      url: "{% url 'operation_status' %}",
      data: {'status':$(this).data('status'),'oid':'{{data.id}}','app':'transaction'},
      cache: false,
      beforeSend: function(){
        spinner.spin(target);
      },
      success: function(data) {
        spinner.stop(target);
        $.growlUI(data);
        $('#operationStatus').hide();
      },
      error: function(data) {
        spinner.stop(target);
        $.growlUI('Error', data);
      }
    });
  });
  $('#print').click(function() {
    window.print();
    return false;
  });
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
{% block extra_style %}
{{block.super}}
<link href="{{static_url}}css/print.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="container mb-4">
  {% if not data.declined %}
  {% if perms.approver and not data.approved %}
  <div class="row mb-4" id="operationStatus">
    <div class="col-lg-12 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#" class="btn btn-default btn-success operation-status mr-4"
            style="width:128px;" data-status="approved">Approve</a>
          <a href="#" class="btn btn-default btn-danger operation-status mr-4"
            style="width:128px;" data-status="declined">Decline</a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  {% endif %}{% endif %}
  {% if data.approved %}
  <h1 style="color: #5810d1;">APPROVED <span class="float-right">{{data.level1_date}}</span></h1>
  {% else %}
    <h1 style="color: #ff0000;">DECLINED <span class="float-right">{{data.updated_at}}</span></h1>
  {% endif %}
  {% include "transaction/detail.inc.html" %}
</div>
<!-- end container -->
{% endblock %}
